:root {
  --primary: #145873;
  --secondary: #b4b4b4;
  /* --tertiary: #0f3d59; */
  --accent: #ff7d00;
  --black: #000000;
  --background: #ffffff;

  --text-decoration-color: #c0bfc0;
  --text-decoration-color-hover: #272727;
  --input-border-color: #f6f6f6;
  --input-background-color: #f6f6f6;
  --input-color: #343334;
  --input-invalid-border-color: #ff7d87;
  --input-checkbox-border-color: #d8d8d8;
  --table-border-color: #d8d8d8;
  --table-header-color: #d8d8d8;

  --space-xxs: calc(var(--space-sm) * 0.25);
  --space-xs: calc(var(--space-sm) * 0.5);
  --space-sm: 1rem;
  --space-md: calc(var(--space-sm) * 1.5);
  --space-lg: calc(var(--space-sm) * 2);
  --space-xl: calc(var(--space-sm) * 3);
  --space-xxl: calc(var(--space-sm) * 6);

  --ff: "open_sans", sans-serif, cursive;

  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 800;

  --fs-g: 1rem;
  --fs-p: calc(var(--fs-g) * 1.1);
  --fs-1: calc(var(--fs-g) * 2.8);
  --fs-2: calc(var(--fs-g) * 2);
  --fs-3: calc(var(--fs-g) * 1.5);

  --br-l: 10px;
  --br-s: calc(var(--br-l) * 0.5);

  color: var(--black);
  font-family: var(--ff);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-xs);
}
.cat_box {
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  text-decoration: none;
  color: var(--black);
}

.productlist main {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
}

.productlist main h2 {
  grid-column: 1/-1;
}

.productlist article {
  display: flex;
  flex-direction: column;
  outline: 1px black solid;
  /* max-width: 30vw; */
  /* height: auto; */
}
.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}
.productlist article > * {
  margin: 0;
}
.subtle {
  color: #d8d8d8cc;
}
/* steals */
body {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  font-weight: 400;
  line-height: 1.563;
  color: var(--color);
  background-color: var(--background-color);
  caret-color: var(--caret-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color);
  -webkit-text-decoration-color: var(--text-decoration-color);
  /* fix colors */
  border-radius: 5px;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  a:hover {
    text-decoration-color: var(--text-decoration-color-hover);
  }
}
/* steals */
